.hyperspace .ship
{
    animation: shipJump 250ms ease-in !important;
    animation-fill-mode: forwards !important; 
}

@keyframes shipJump
{
    100%
    {
        transform: scale(10, .9) translate(100vw);
        filter: brightness(100);
    }
}

.hyperspace .star
{
    animation-name: hypermove;
    animation-duration: 250ms !important;
    animation-timing-function: ease-in-out !important;
    width: 300px !important;
    box-shadow: 0 0 3px #fff;
}

@keyframes hypermove
{
    to
    {
        transform: translate3d(-100vw, 0, 0);
    }
}