.space
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;
}

.wrapper
{
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 0;
    height: calc(25vh + 216px / 2);
    min-height: 239px;
}

.ship
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-291px / 2);

    width: 291px;
    height: 216px;

    animation: shipFloatX 30s infinite ease-in-out, shipFloatY 20s infinite ease-in-out;

    background: transparent url(i/ship.png) 0 0;

    will-change: transform;
}

.ship:after
{
    content: attr(data-counter);
    position: absolute;
    font-family: monospace;
    left: 37px;
    color: rgba(141,141,141,.4);
    top: 96px;
    font-size: 15px;
    letter-spacing: 13px;
    text-shadow: 1px 1px 0px rgba(0,0,0,.4);
    animation: blink 2s infinite ease;
}

@keyframes blink
{
    90% {
        color: rgba(141,141,141,.4);
    }
    95% {
        color: #fff;
    }
}

@keyframes shipFloatX
{
    20%
    {
        margin-left: 25px;
    }
    40%
    {
        margin-left: 20px;
    }
    60%
    {
        margin-left: -35px;
    }
    80%
    {
        margin-left: -15px;
    }
    100%
    {
        margin-left: 0;
    }
}

@keyframes shipFloatY
{
    20%
    {
        margin-top: -40px;
    }
    40%
    {
        margin-top: -30px;
    }
    60%
    {
        margin-top: 5px;
    }
    80%
    {
        margin-top: -25px;
    }
    100%
    {
        margin-top: 0;
    }
}

.star
{
    transition: width 250ms ease-in, box-shadow 500ms ease-in;
    position: absolute;
    z-index: 0;
    width: 9px;
    height: 9px;
    left: 100%;
    animation: move 10s infinite linear;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    background: #fff;
}

.star:nth-child(1)
{
    top: 57%;
    animation-delay: 3485ms;
}


.star:nth-child(2)
{
    top: 88%;
    animation-delay: 6334ms;
}

.star:nth-child(3)
{
    top: 38%;
    animation-delay: 3075ms;
}

.star:nth-child(4)
{
    top: 64%;
    animation-delay: 8041ms;
}

.star:nth-child(5)
{
    top: 57%;
    animation-delay: 2092ms;
}

.star:nth-child(6)
{
    top: 65%;
    animation-delay: 8627ms;
}

.star:nth-child(7)
{
    top: 51%;
    animation-delay: 9752ms;
}

.star:nth-child(8)
{
    top: 39%;
    animation-delay: 2493ms;
}

.star:nth-child(9)
{
    top: 36%;
    animation-delay: 7007ms;
}

.star:nth-child(10)
{
    top: 88%;
    animation-delay: 1668ms;
}

.star:nth-child(11)
{
    top: 33%;
    animation-delay: 3796ms;
}

.star:nth-child(12)
{
    top: 81%;
    animation-delay: 2526ms;
}

.star:nth-child(13)
{
    top: 3%;
    animation-delay: 9325ms;
}

.star:nth-child(14)
{
    top: 72%;
    animation-delay: 1701ms;
}

.star:nth-child(15)
{
    top: 15%;
    animation-delay: 2288ms;
}

.star:nth-child(16)
{
    top: 96%;
    animation-delay: 9474ms;
}

.star:nth-child(17)
{
    top: 13%;
    animation-delay: 5946ms;
}

.star:nth-child(18)
{
    top: 46%;
    animation-delay: 4947ms;
}

.star:nth-child(19)
{
    top: 30%;
    animation-delay: 4399ms;
}

.star:nth-child(20)
{
    top: 67%;
    animation-delay: 8232ms;
}

.star:nth-child(21)
{
    top: 89%;
    animation-delay: 770ms;
}

.star:nth-child(22)
{
    top: 32%;
    animation-delay: 1455ms;
}

.star:nth-child(23)
{
    top: 52%;
    animation-delay: 1229ms;
}

.star:nth-child(24)
{
    top: 35%;
    animation-delay: 7450ms;
}

.star:nth-child(25)
{
    top: 17%;
    animation-delay: 9575ms;
}

.star:nth-child(26)
{
    top: 51%;
    animation-delay: 3565ms;
}

.star:nth-child(27)
{
    top: 29%;
    animation-delay: 8568ms;
}

.star:nth-child(even)
{
    background-color: #666;
}

@keyframes move
{
    to
    {
        transform: translate3d(-100vw, 0, 0);
    }
}
