:root {
    min-height: 100vh;
    background: #262833;
    color: #fff;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    display: flex;
    display: webkit-lfex;
    justify-content: center;
    font-size: 32px;
    padding: 0;
    margin: 0;
    text-shadow: 0 0 3px rgba(0,0,0,.5);
}

h1 {
    text-align: center;
}

h2 {
    padding-bottom: .1em;
    border-bottom: dotted 1px rgba(255,255,255,.3);
}

a {
    color: #2980b9;
    transition: color .3s ease;
    text-decoration: none;
}

a:hover {
    color: #3498db;
}

.layout {
    padding: 50px;
}

.icon {
    border-radius: .2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    background: transparent no-repeat center center;
    vertical-align: bottom;
    background-size: 100%;
    transition: opacity .3s ease, transform .3s ease;
    opacity: 1;
    transform: rotate(0deg);
    margin-bottom: .1em;
}

a:not(:hover) .icon {
    opacity: .8;
    transform: rotate(360deg);
}

.icon_present { background-image: url(i/present.svg); }
.icon_cake { background-image: url(i/cake.svg); }
.icon_map { background-image: url(i/map.svg); }
.icon_pick { background-image: url(i/pick.svg); }
.icon_pack { background-image: url(i/pack.svg); }
.icon_beer { background-image: url(i/beer.svg); }
.icon_pizza { background-image: url(i/pizza.svg); }
.icon_burger { background-image: url(i/burger.svg); }
.icon_dice { background-image: url(i/dice.svg); }
.icon_metal { background-image: url(i/metal.svg); }
.icon_game { background-image: url(i/game.svg); }
.icon_smoke { background-image: url(i/smoke.svg); }
.icon_steam { background-image: url(i/steam.png); }
.icon_raindrop { background-image: url(i/raindrop.png); }
.icon_clock { background-image: url(i/clock.svg); }

#map {
    width: 800px;
    height: 500px;
    max-width: 100%;
    margin: 20px auto;
}

ul, li {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style: none;
}

.date {
    font-size: 34px;
    text-align: center;
}

.whish
{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.whish li
{
    margin: 0 20px;
    font-size: 128px;
}

body:after
{
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1)), linear-gradient(to top, rgba(0,0,0,.2), rgba(0,0,0,.1), rgba(0,0,0,.2));
    z-index: -1;
    background-size: 100% 200%, 100%;
}
