body
{
    display: flex;

    min-height: 100vh;
    margin: 0;
    padding: 0;

    color: #fff;
    background: #262833;

    font-family: 'Roboto Condensed', Arial, sans-serif;

    justify-content: center;
}

h1
{
    text-align: center;
    font-size: 62px;
}

h2
{
    padding-bottom: .1em;

    border-bottom: dotted 1px rgba(255,255,255,.3);
}

a
{
    transition: color .3s ease;
    text-decoration: none;

    color: #2980b9;
}

a:hover
{
    color: #3498db;
}
