body {
  width: 100vw;
  min-width: 50vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  color: white;
  background-color: #080b06;
  background-image: url(img/room.jpg);
  background-size: cover;

  font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
}

#userpic {
  position: absolute;
  top: 15vh;
  right: 0;
  left: 0;

  width: 45vh;
  height: 45vh;
  margin: auto;

  border-radius: 100%;
  background-color: #080b06;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
}

.info {
  position: absolute;
  top: calc(60vh + 50px);
  right: 0;
  left: 0;

  margin: auto;

  text-align: center;

  font-size: 48px;
}

.fullname,
.username {
  display: inline-block;

  opacity: 0.7;
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);
  font: inherit;
  margin-bottom: 18px;
}

.contacts {
  display: flex;
  justify-content: center;

  margin: 15px 0 0 0;
  padding: 0;
}

.contact {
  display: block;

  margin: 0 15px;
}

.contact a {
  display: block;

  transition: opacity 0.3s ease-in-out, transform 0.3s ease-out;

  opacity: 0.6;

  color: inherit;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  width: 65px;
  outline: none;
}

.contact a:hover,
.contact a:focus {
  opacity: 1;
  transform: scale(1.05);
  text-decoration: underline;
}

.contact svg {
  height: 40px;

  fill: white;
}
