@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body
{
    width: 100vw;
    min-width: 50vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    color: white;
    background-color:#080b06;
    background-image: url(img/room.jpg);
    background-size: cover;

    font-family: 'Roboto Condensed', sans-serif;
}

#userpic
{
    position: absolute;
    top: 15vh;
    right: 0;
    left: 0;

    width: 45vh;
    height: 45vh;
    margin: auto;

    border-radius: 100%;
    background-color: #080b06;
    box-shadow: 0 0 60px rgba(0,0,0,.5);
}

.info
{
    position: absolute;
    top: calc(60vh + 50px);
    right: 0;
    left: 0;

    margin: auto;

    text-align: center;

    font-size: 48px;
}

.fullname, .username
{
    display: inline-block;

    opacity: .7;
    text-shadow: 0 0 0.5em  rgba(0,0,0,.8);
}

.contacts
{
    display: flex;
    justify-content: center;

    margin: 15px 0 0 0;
    padding: 0;
}

.contact
{
    display: block;

    margin: 0 15px;
}

.contact a
{
    display: block;

    padding: 15px;

    transition: opacity .3s ease-in-out;

    opacity: .6;
}

.contact a:hover
{
    opacity: 1;
}

.contact svg
{
    display: block;

    height: 40px;

    fill: white;
}
